<p style="display: none;" class="petterpetter"><%= session[:user_id] ? 'true' : 'false'%></p>
  <%= form_tag '/page1', method: :get do %>
  Area of Assistance:
  <select class="productarea" name="assitance">
    <% @product_areas.each do |productarea| %>
      <option class="opts"> <%=productarea%></option>
    <%end%></select><br>

    Position:<%= text_field_tag :position, params[:position], :placeholder => 'Enter position title', class: 'position', :required => true%></br>

    Start Date:<%= date_field_tag :start_date, params[:start_date], class: 'start_date', :required => true%></br>

    End Date:<%= date_field_tag :end_date, params[:end_date], class: 'end_date', :required => true%></br>

    City:<%= text_field_tag :city, params[:city], :placeholder => 'Enter city', class: 'city', :required => true%></br>

    Position Percentage:<select class="percentage">
    <% @position_percentage.each do |percentage| %>
        <option><%= percentage %></option>
    <%end%>

  </select></br>

  Minimum level of Experiance: <select class="experience">
  <% @level_of_experiance.each do |experiance| %>
    <option><%=experiance%></option>
  <%end%></select></br>

  Monthly Salary:<%= text_field_tag :salary, params[:salary], class: 'salary'%>
  <!-- subitm button -->
  <button class="show">See Suppliers</button></br>
  <!-- Get right supplier deepending in city and product area -->


  <% if @suppliers.present? %>
    <% @suppliers.map do |supplier| %>
        <%= div_for supplier, :class => "suppliers_name" do %>
          <%= supplier.company %>
        <%end%>
        <%= div_for supplier, :class => "suppliers_city" do %>
          <%= supplier.city %>
        <%end%>
        <%= div_for supplier, :class => "suppliers_recruitment_price" do %>
          <%= supplier.recruitment_percentage.to_i.floor%>%
        <%end%>
        <%= div_for supplier, :class => "suppliers_id" do %>
          <%=supplier.id%>
        <%end%>

      <% if @assitance == "it" %>
        <%= div_for supplier, :class => "suppliers_price" do %>
          <%= supplier.prices.map {|p| p.it.to_f * @salary_divided_by_hours.floor } %>
          <%= submit_tag 'choose supplier', class: 'välj_leverator'%>
        <%end%>
      <% elsif @assitance == "marketing" %>
        <%= div_for supplier, :class => "suppliers_price" do %>
          <%= supplier.prices.map {|p| p.marketing.to_f} %>
          <%= submit_tag 'choose supplier', class: 'välj_leverator'%>
        <%end%>
            <!-- KEEEP AND UPDATE #elseif   #@assitance == -->
      <%end%>
    <%end%>
  <%end%>
<%end%>




<!-- Button trigger modal -->
<button type="button" class="btn btn-primary test" data-toggle="modal" data-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Gets input from cookie -->
        <%= form_tag '/confirm_order_and_email', method: :post do%>
          <input type="text" name="confirm_position" id="confirm_position" value=""/>

          First Name:<input type="text" name="fname" id="fname"><br><br>
    Last Name:<input type="text" name="lname" id="lname"><br><br>
    Age:<input type="text" name="age" id="age"><br><br>


<%= submit_tag 'Confirm Order', class:"btn btn-primary"%>
//Continue Here!!!
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary confirm_order" data-dismiss="modal">confirm</button>

      </div>
    </div>
  </div>
</div>
