

<div class="signup_form">
    <div>
    <%= form_for :user, class:"signup_form" do |form| %>
    <p>Name:</p>
    <%= form.text_field :name, required: true%>
    <p>Email:</p>
    <%= form.text_field :email, required: true %>
    <p>Telephone:</p>
    <%= form.text_field :email, required: true %>
    <p>Company: </p>
    <%= form.text_field :company, required: true %>
    <p>Company Number: </p>
    <%= form.text_field :company_number, required: true %>
  <p>Password:</p>
  <%= form.password_field :password, required: true %>
<p>Password Confirmation: </p>
<%= form.password_field :password_confirmation, required: true %> <br>
    <%= form.submit "Sign Up", class:"signup_submit_registration"%>
    <% end %>
  </div>
</div>
