

<div class="signup_form">
    <div>
    <%= form_for :user, class:"signup_form" do |form| %>
    <p>Namn:</p>
    <%= form.text_field :name, required: true%>
    <p>Email:</p>
    <%= form.text_field :email, required: true %>
    <p>Telefon:</p>
    <%= form.text_field :telephone_number, required: true %>
    <p>Företag: </p>
    <%= form.text_field :company, required: true %>
    <p>Org.Nummer: </p>
    <%= form.text_field :company_number, required: true %>
  <p>Lösenord:</p>
  <%= form.password_field :password, required: true %>
<p>Bekräfta Lösenord: </p>
<%= form.password_field :password_confirmation, required: true %> <br>
    <%= form.submit "Registrera", class:"signup_submit_registration"%>
    <% end %>
  </div>
</div>

<div class="footer_index">
<p class="footer_index_text">          Digirek AB <br> org.nr: 556976-8269 <br>
    Gumshornsgatan 7, 114 60 Göteborg
  </p>
</div>
